pipeline/cf_excel_pv_xlsx2json.json
{
	"name": "cf_excel_pv_xlsx2json",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JSON_MDK",
						"type": "DatasetReference",
						"parameters": {
							"location": "000000",
							"file": "list_file_pv.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "function_load_sharepoint",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "sharepoint_xlsxpv2json",
								"method": "POST",
								"body": {
									"value": "@item()",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "tpgfunction",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "1"
			},
			"JOB_ID": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"JOB_SUB_GROUP": {
				"type": "string",
				"defaultValue": "MDE"
			},
			"API_GROUP": {
				"type": "string",
				"defaultValue": "ALL"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-12T07:00:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}