pipeline/check status refresh.json
{
	"name": "check status refresh",
	"properties": {
		"activities": [
			{
				"name": "Check status refresh",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('status'),'Unknown'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Access Token",
							"description": "\n",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get pbI token",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "access_token",
								"value": {
									"value": "Bearer @{activity('Get pbI Token').output.access_token}\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Check Status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Access Token",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/', pipeline().parameters.group_id, '/datasets/', pipeline().parameters.datasetid, '/refreshes')",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@variables('access_token')",
										"type": "Expression"
									},
									"Content-Type": "application/json"
								},
								"body": {
									"pbi": "refresh"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": {
									"value": "@activity('Check Status').output.value[0].status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait2p",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 120
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('status'),'Failed')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Stored procedure1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_failprocedure]",
											"storedProcedureParameters": {
												"message": {
													"value": {
														"value": "[FAIL] Refresh dataset @{pipeline().parameters.dataset_name} fail with:\n@{activity('Check Status').output.value[0].serviceExceptionJson}",
														"type": "Expression"
													},
													"type": "String"
												},
												"raiseerror": {
													"value": "true",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "tpgsynapsepool",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Get pbI token",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait2p",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://login.microsoftonline.com/423d658d-def9-41ee-ace9-b9065225e374/oauth2/token",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/x-www-form-urlencoded"
								},
								"body": {
									"value": "grant_type=password&username=jabi@tpgroupvn.onmicrosoft.com&password=Bah45836&client_id=d4b97518-dd89-4433-89d3-7c94250b167a&resource=https://analysis.windows.net/powerbi/api&client_secret=0.WE95Cdr2e4bMv1UST-V~x04_R9EwKe~6",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"datasetid": {
				"type": "string"
			},
			"group_id": {
				"type": "string"
			},
			"dataset_name": {
				"type": "string"
			}
		},
		"variables": {
			"status": {
				"type": "String"
			},
			"access_token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Refresh PBI"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-07T08:50:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}