pipeline/mrp_master_copy3.json
{
	"name": "mrp_master_copy3",
	"properties": {
		"activities": [
			{
				"name": "mrp_sde",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Batch Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mrp_sde",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BATCH_ID": {
							"value": "@variables('BATCH_ID')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "mrp_sil",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "mrp_sde",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mrp_sil",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BATCH_ID": {
							"value": "@variables('BATCH_ID')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "backup_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "mrp_sde",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "backup_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tmp_name": "tmp",
						"folder_name": "mrp"
					}
				}
			},
			{
				"name": "Set Batch Id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get batch id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BATCH_ID",
					"value": {
						"value": "@string(activity('get batch id').output.firstRow.BATCH_ID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get batch id",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_batch_id]",
						"storedProcedureParameters": {
							"p_batch_id": {
								"type": "String",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "tpgsynapsepool",
						"type": "DatasetReference",
						"parameters": {
							"schema": "''",
							"name": "''"
						}
					}
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"BATCH_ID": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-17T03:09:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}