pipeline/mrp_sde.json
{
	"name": "mrp_sde",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_job]",
						"storedProcedureParameters": {
							"p_api_group": {
								"type": "String",
								"value": null
							},
							"p_batch_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BATCH_ID",
									"type": "Expression"
								}
							},
							"p_job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_ID",
									"type": "Expression"
								}
							},
							"p_job_sub_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_SUB_GROUP",
									"type": "Expression"
								}
							},
							"p_order": {
								"type": "String",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "tpgsynapsepool",
						"type": "DatasetReference",
						"parameters": {
							"schema": "''",
							"name": "''"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "START_JOB",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": "",
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "Start load table @{item().TARGET_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "START",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "tpgsynapsepool",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "END_JOB_SUCCESS",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": "",
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "Finished load table @{item().TARGET_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "END",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "tpgsynapsepool",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "END_JOB_FAIL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": {
											"value": "@activity('Copy data1').output.errors[0].Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "Finished load table @{item().TARGET_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "ERROR",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "tpgsynapsepool",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "START_JOB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "w_file_name",
											"value": "$$FILEPATH"
										},
										{
											"name": "w_batch_id",
											"value": {
												"value": "@pipeline().parameters.BATCH_ID",
												"type": "Expression"
											}
										},
										{
											"name": "w_insert_date",
											"value": {
												"value": "@addhours(utcnow(),7)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "*",
										"wildcardFileName": {
											"value": "*@{item().SOURCE_TABLE}*",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "IF OBJECT_ID('@{item().TARGET_SCHEMA}.@{item().TARGET_TABLE}') IS NOT NULL\n\tTRUNCATE TABLE @{item().TARGET_SCHEMA}.@{item().TARGET_TABLE}\n",
										"type": "Expression"
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CSV_MRP",
									"type": "DatasetReference",
									"parameters": {
										"folder": "''",
										"file": "''"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "tpgsynapsepool",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().TARGET_SCHEMA",
											"type": "Expression"
										},
										"name": {
											"value": "@item().TARGET_TABLE",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "1"
			},
			"JOB_ID": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"JOB_SUB_GROUP": {
				"type": "string",
				"defaultValue": "MRP"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-07T08:29:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}